
h1 {
    text-align: center;
    text-decoration: underline;
}

tr {
    width:100%;
    text-align: center;
}

.redtr {
    color:#9b0000;
    text-align: left;
}

.yellowtr {
    color:#c79100;
    text-align: left;
}

.greentr {
    color:#2bbd7e;
    text-align: left;
}
.buttondark {
    cursor: pointer;
    border:solid;
    background-color: #181818;
    border-color:black;
    border-radius: 20px;
    color:white;
    text-align:center;
    outline: none;
    margin-top: 1%;
    font-size:140%;
  }
  
  .buttonlight {
    cursor: pointer;
    border:solid;
    background-color:white;
    border-color:white;
    border-radius: 20px;
    color:black;
    text-align:center;
    outline: none;
    margin-top: 1%;
    font-size:140%;
  }

.darkbody {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color:white;
}

.lightbody {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color:black;
}

.navigation {
    padding: 20px;
    font-size: 200%;
    width: 33.33%;
    cursor: pointer;
}

.tablecontent {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.onthecenter {
    border:1px;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

.container {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 260px;
    left: 260px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}