body {
    background-color: #181a1b;
    color: #FFFFFF
}

.list {
    display: none;
}

.contact {
    margin-right: 5%;
}

hr {
    width: 20%;
    margin-left: 0%;
}

a:visited {
    color: rgb(174, 115, 229);
}

a {
    color: #3391ff;
}