body {
    background-color: #181a1b;
    color: #FFFFFF;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}

.list {
    display: none;
}

.contact {
    margin-right: 2%;
    text-align: left;
}

hr {
    width: 20%;
    margin-left: 0%;
}

a:visited {
    color: rgb(174, 115, 229);
}

a {
    color: #3391ff;
}