body {
    background-color: #181a1b;
    color: #FFFFFF
}

.list {
    display: none;
}

.contact {
    margin-right: 2%;
    text-align: left;
}

hr {
    width: 20%;
    margin-left: 0%;
}

a:visited {
    color: rgb(174, 115, 229);
}

a {
    color: #3391ff;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {  
    body {
        font-size: x-large;
    }
}