@font-face {
    font-family: 'Natural Toons';
    src: url('../fonts/Natural\ Toons.otf'), url('../fonts/Natural\ Toons.ttf') format('truetype');
}

body {
    background-image: url('../images/moon.png');
    font-family: 'Natural Toons';
    color: #FFFFFF;
    text-align: center;
}

div {
    margin-top: 2%;
}

table {
    padding: 5px;
    border-radius: 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border: transparent;
    background-color: #212121;
}

th {
    font-size: 180%;
    text-align: center;
}

td {
    font-size: 100%;
    text-align: center;
}

h1 {
    font-size: 500%;
}

button {
    outline:none;
    font-family: 'Natural Toons';
    cursor: pointer;
    padding: 10px;
    background-color: #212121;
    font-size: 120%;
    border-radius: 20px;
    color: #c7a500;
    border: transparent;
}

button::-moz-focus-inner {
    outline:none;
    border: 0;
}

button:active {
    outline:none;
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

input {
    padding: 7px;
    width: 85%;
    font-family: 'Natural Toons';
    text-align: center;
    font-size: 120%;
    margin-top: 5%;
    border: transparent;
    border-radius: 20px;
    background-color: #181818;
    color: white;
}

.link {
    font-family: 'Natural Toons';
    padding: 10px;
    background-color: #212121;
    font-size: 100%;
    border-radius: 20px;
    color: #7200ca;
    border-color: #38006b;
}

.bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#total {
    font-style: bold;
    font-size: 200%;
    color: #D4AF37;
}

#nomi {
    color: #bb002f;
}

#cose {
    color: #c43c00;
}

#città {
    color: #255d00;
}

#animali {
    color: #0039cb;
}

#cibo {
    color:#5f4339;
}

#vip {
    color:#790e8b;
}

#mestieri {
    color:#c68400;
}

#punteggio {
    color: #9b0000;
}

#die {
    display: inline-block;
    width: auto;
    cursor: pointer;
    border: none;
    font-size: 200%;
}