@font-face
{
    font-family: 'Natural Toons';
    src: url('../fonts/Natural\ Toons.otf'),
    url('../fonts/Natural\ Toons.ttf') format('truetype');
}

body {
    font-family: 'Natural Toons';
    background-color: #181818;
    color:#FFFFFF;
    text-align: center;
}

div {
    margin-top: 3%;
}

table {
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border:3px solid;
    background-color: #212121;
    border-color: #38006b;
}

th {
    font-size: 150%;
    text-align: center;
}

td {
    font-size: 120%;
    text-align: center;
}

h1 {
    font-size: 500%;
}

button {
    font-family: 'Natural Toons';
    cursor: pointer;
    padding: 10px;
    background-color: #212121;
    font-size: 150%;
    border-radius: 20px;
    color:#7200ca;
    border-color: #38006b;
}

button::-moz-focus-inner {
    border: 0;
}
  
  

input {
    font-family: 'Natural Toons';
    width: 80%;
    text-align: center;
    font-size: 100%;
    margin-top: 5%;
    border:2px solid;
    border-radius: 20px;
    background-color: #181818;
    color:white;
    border-color: #38006b;
}

#total {
    font-style: bold;
    font-size: 200%;
    color: #D4AF37;
}

#nomi {
    color: #bb002f;
    text-decoration: underline;
}

#cose {
 color:#c43c00;
 text-decoration: underline;
}

#città {
    color:#255d00;
    text-decoration: underline;
}

#animali {
    color:#0039cb;
    text-decoration: underline;
}

#punteggio {
    color:#9b0000;
    text-decoration: underline;
}

#die {
    border: none;
    background-color: #181818;
    font-size: 250%;
}

